<section class="content">
  <div class="centered-content">
    <h1>Lorem Ipsum</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et nulla scelerisque, lacinia nulla non, tincidunt odio. Mauris orci mi, dignissim a ex nec, lobortis commodo sapien. Donec pharetra vehicula odio, ac feugiat erat ullamcorper vitae. Maecenas ex ipsum, vestibulum eu mollis a, venenatis pretium turpis. Vestibulum nec tristique dui, quis fringilla lorem. Maecenas suscipit euismod quam, eu congue sapien fringilla nec. <a href="https://developer.mozilla.org/en/docs/Web/HTML/Element/a">Link in the middle of copy</a>. Nullam sed faucibus libero. Sed aliquet, ligula ut dictum rhoncus, elit massa placerat diam, a sodales lacus lacus quis lorem. Nam feugiat mi eleifend sapien ullamcorper, a porttitor dolor varius. Fusce suscipit risus sem, sed pretium quam ultricies et.</p>
    <p>Aliquam posuere ante nec arcu dignissim fringilla. <button id="showModalInlineButton" class="btn-inline" type="button" aria-label="Opens a simulated dialog - Show modal" ng-click="vm.showModal($event)">Show modal</button>. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed ut vehicula lorem. In eu auctor ligula. Quisque vitae elementum est. Proin id venenatis ipsum. Etiam sit amet dolor urna. Etiam a varius tortor. Fusce aliquam, mi a malesuada pulvinar, mauris purus dignissim dui, in malesuada mauris velit gravida.</p>
    <p>Nulla nec erat finibus, suscipit orci nec, varius nisi. Cras neque augue, egestas a auctor luctus, fermentum a nisl. Aenean rhoncus quis massa ac convallis. Quisque sed enim sed velit sodales pulvinar. Integer non elementum erat. Aenean vehicula, neque ut efficitur vulputate, lorem eros condimentum purus, nec fringilla quam orci sodales eros. Sed vehicula tellus vitae pulvinar imperdiet.</p>
    <button
      id="showModalButton"
      class="btn-primary"
      type="button"
      aria-label="Opens a simulated dialog - Show modal"
      ng-click="vm.showModal($event)"
    >Show Modal</button>
  </div>
</section>